@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body { 
	background-color: #6E7B80;
}

img {
	max-width:90%;
}

a { 
	text-decoration: none;
	color:  #3A3A3A;
}

p { 
	font-family: sans-serif;
	text-align: center;
	color: #E1DFD0;
	font-size: 13px;
}





.icon-stars { 
	color: #DDC38A;
	font-size: 8em;
}

.icon-stars {
	animation-name: pulsate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% { width:1px;height: 1px; opacity: 0.0}
    10% { width:3px;height: 3px; opacity: .20}
    20% { width:5px;height: 5px; opacity: .40 }
    30% { width:7px;height: 7px; opacity: .60 }
    40% { width:9px;height: 9px; opacity: .80 } 
    50% { width:11px;height: 11px; opacity: 1.0}
    60% { width:13px;height: 13px; opacity: .80}
    70% { width:15px;height: 15px;  opacity: .60}
    80% { width:17px;height: 17px;  opacity: .40}
    90% { width:19px;height: 19px;  opacity: .20}
    100% { width:21px;height: 21px;  opacity: 0.0}
 }

@-webkit-keyframes pulsate {
    0% { width:1px;height: 1px; opacity: 0.0}
    10% { width:3px;height: 3px; opacity: .20}
    20% { width:5px;height: 5px; opacity: .40 }
    30% { width:7px;height: 7px; opacity: .60 }
    40% { width:9px;height: 9px; opacity: .80 } 
    50% { width:11px;height: 11px; opacity: 1.0}
    60% { width:13px;height: 13px; opacity: .80}
    70% { width:15px;height: 15px;  opacity: .60}
    80% { width:17px;height: 17px;  opacity: .40}
    90% { width:19px;height: 19px;  opacity: .20}
    100% { width:21px;height: 21px;  opacity: 0.0}
 }

.icon-moon { 
	color: #E1DFD0;
	font-size: 4em;
}

.night { 
	text-align: center;
}

.banner { 
	width: 30em;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-asleep { 
	font-size: 7em;
}

.face { 
	padding-top: 5.5em;
	margin-left: 30%;
    margin-right: 50%; 
	color: #3A3A3A;
}

.icon-zs { 
	font-size: 4em;
	animation-name: fade;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite
}

@keyframes fade {
    0% { width:1px;height: 1px; opacity: 1.0}
    20% { width:3px;height: 3px; opacity: 0.0}
    70% { width:11px;height: 11px; opacity: 0.4}
    100% { width:21px;height: 21px;  opacity: 1.0}
 }

@-webkit-keyframes fade {
    0% { width:1px;height: 1px; opacity: 1.0}
    20% { width:3px;height: 3px; opacity: 0.0}
    70% { width:11px;height: 11px; opacity: 0.4}
    100% { width:21px;height: 21px;  opacity: 1.0}
 }

.icon-sheepish { 
	font-size: 4em;
	color: #3A3A3A;

}

.icon-sheepish:hover { 
	color: #E1DFD0;
}

.bounce {
	position: absolute;
	padding: 3em;
    left: 45%;
	right: 50%;
	-webkit-animation: animated 6s linear infinite; 
    animation: animated  6s linear infinite;
}

@-webkit-keyframes animated{
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes animated {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.bounce2 {
	position: absolute;
    left: 45%;
	right: 50%;
	-webkit-animation: animatez 6s linear infinite; 
    animation: animatez  6s linear infinite;
}

@-webkit-keyframes animatez{
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes animatez {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@media only screen and (min-width: 30em) { 
		
.face { 
		padding-top: 9em;
		margin-left: 45%;
		margin-right: 50%; 
	}
}

